<!DOCTYPE html>
<html>
    <head>
        <title>Signup Success</title>
    </head>
    <style>
        body{
            background-image: url(https://th.bing.com/th/id/OIP.qhp1JKuAjB81qCXM8TLVlgHaEW?w=267&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <body>
        <center>
            <br><br><br><br><br>
<h2 style="color: floralwhite;">You have Signed Up Successfully !!!</h2>
<form action="" method="GET">
    <div class="signin-link" style="color: goldenrod;">
        <button type="submit" formaction="login" style="color: skyblue; height: 30px; width:55px;">Login</button>
    </div>
</form>

        </center>

    </body>
</html>